In [19]:
import sqlite3

conn = sqlite3.connect('database/banking.db')
cursor = conn.cursor()

cursor.execute("PRAGMA table_info(customer)")
for row in cursor.fetchall():
    print(row)

(0, 'customer_id', 'VARCHAR', 1, None, 1)
(1, 'full_name', 'VARCHAR', 0, None, 0)
(2, 'date_of_birth', 'VARCHAR', 0, None, 0)
(3, 'email', 'VARCHAR', 0, None, 0)
(4, 'customer_pwd', 'VARCHAR', 0, None, 0)
(5, 'phone_number', 'VARCHAR', 0, None, 0)
(6, 'identity_type', 'VARCHAR', 0, None, 0)
(7, 'identity_number', 'VARCHAR', 0, None, 0)
(8, 'created_at', 'VARCHAR', 0, None, 0)

In [20]:
cursor.execute("SELECT * FROM customer")
for row in cursor.fetchall():
    print(row)

In [21]:
cursor.execute("PRAGMA table_info(account)")
for row in cursor.fetchall():
    print(row)

(0, 'account_id', 'VARCHAR', 1, None, 1)
(1, 'customer_id', 'VARCHAR', 0, None, 0)
(2, 'account_number', 'VARCHAR', 0, None, 0)
(3, 'account_type', 'VARCHAR', 0, None, 0)
(4, 'balance', 'BIGINT', 0, None, 0)
(5, 'acc_status', 'VARCHAR', 0, None, 0)
(6, 'date_opened', 'VARCHAR', 0, None, 0)
(7, 'date_closed', 'VARCHAR', 0, None, 0)

In [22]:

cursor.execute("SELECT * FROM account")
for row in cursor.fetchall():
    print(row)

In [23]:
cursor.execute("PRAGMA table_info(device)")
for row in cursor.fetchall():
    print(row)

(0, 'device_id', 'VARCHAR', 1, None, 1)
(1, 'device_type', 'VARCHAR', 0, None, 0)
(2, 'os', 'VARCHAR', 0, None, 0)
(3, 'is_verified', 'BOOLEAN', 0, None, 0)
(4, 'first_seen', 'VARCHAR', 0, None, 0)
(5, 'last_seen', 'VARCHAR', 0, None, 0)
(6, 'app_version', 'VARCHAR', 0, None, 0)

In [24]:
cursor.execute("SELECT * FROM device")
for row in cursor.fetchall():
    print(row)

In [25]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()
for table in tables:
    print(table[0])

customer
device
authentication
customer_device
customer_identity
account
authentication_log
customer_risk
device_risk
transaction_log
auth_transaction
transaction_risk

In [26]:
cursor.execute("SELECT * FROM customer_device")
for row in cursor.fetchall():
    print(row)

In [27]:
cursor.execute("PRAGMA table_info(transaction_log)")
for row in cursor.fetchall():
    print(row)

(0, 'transaction_id', 'VARCHAR', 1, None, 1)
(1, 'account_id', 'VARCHAR', 0, None, 0)
(2, 'device_id', 'VARCHAR', 0, None, 0)
(3, 'amount', 'BIGINT', 0, None, 0)
(4, 'transaction_type', 'VARCHAR', 0, None, 0)
(5, 'transaction_time', 'VARCHAR', 0, None, 0)
(6, 'description', 'VARCHAR', 0, None, 0)
(7, 'status', 'VARCHAR', 0, None, 0)

In [28]:
cursor.execute(f'''
    SELECT * FROM transaction_log
    WHERE account_id = '75d54f15-6eec-4780-a665-98ea5bd8e5ef'
''', 
)     

for row in cursor.fetchall():
    print(row)