In [1]:
import sqlite3

conn = sqlite3.connect('database/banking.db')
cursor = conn.cursor()

cursor.execute("PRAGMA table_info(customer)")
for row in cursor.fetchall():
    print(row)

(0, 'customer_id', 'VARCHAR', 1, None, 1)
(1, 'full_name', 'VARCHAR', 0, None, 0)
(2, 'date_of_birth', 'VARCHAR', 0, None, 0)
(3, 'email', 'VARCHAR', 0, None, 0)
(4, 'customer_pwd', 'VARCHAR', 0, None, 0)
(5, 'phone_number', 'VARCHAR', 0, None, 0)
(6, 'identity_type', 'VARCHAR', 0, None, 0)
(7, 'identity_number', 'VARCHAR', 0, None, 0)
(8, 'created_at', 'VARCHAR', 0, None, 0)

In [2]:
cursor.execute("SELECT * FROM customer")
for row in cursor.fetchall():
    print(row)

('3bcb7707-c29b-4758-bd77-cf1e5b2ce787', 'Daniel Roberts Jr.', '1954-09-10', 'jperry@example.net', '@KNX1idgE8', '874.576.1230x19419', None, None, '2023-11-05T00:20:14.174446')
('0c475a95-868b-478a-94c9-e315d3a2e47d', 'Alyssa Sanchez', '2022-12-31', 'bakeremily@example.com', '(8)6Oi7b15', '(337)932-5468x1821', None, None, '2022-01-05T06:16:09.027638')
('895205d1-03f4-442d-950d-06c7f834056f', 'Sarah Gonzalez', '1947-05-24', 'sarah16@example.com', 's4KFFq$v)g', '369.598.9260x047', None, None, '2022-07-11T17:00:59.986592')

In [3]:
cursor.execute("PRAGMA table_info(account)")
for row in cursor.fetchall():
    print(row)

(0, 'account_id', 'VARCHAR', 1, None, 1)
(1, 'customer_id', 'VARCHAR', 0, None, 0)
(2, 'account_number', 'VARCHAR', 0, None, 0)
(3, 'account_type', 'VARCHAR', 0, None, 0)
(4, 'balance', 'BIGINT', 0, None, 0)
(5, 'acc_status', 'VARCHAR', 0, None, 0)
(6, 'date_opened', 'VARCHAR', 0, None, 0)
(7, 'date_closed', 'VARCHAR', 0, None, 0)

In [4]:

cursor.execute("SELECT * FROM account")
for row in cursor.fetchall():
    print(row)

('0eac7a47-1e72-46ef-a8b0-76584f9a28e0', '3bcb7707-c29b-4758-bd77-cf1e5b2ce787', '9938836509', 'checking', 6573707, 'inactive', '2023-02-09T00:09:57.617915', None)
('4ead75b4-6a73-4326-823f-2293c8e42e0d', '0c475a95-868b-478a-94c9-e315d3a2e47d', '47190949588674', 'savings', 8597070, 'inactive', '2023-05-21T01:19:29.918134', '2020-05-31T15:50:51.357499')
('1fc3a10d-7ae5-409c-bd3d-64f2000c08cb', '895205d1-03f4-442d-950d-06c7f834056f', '4098368791', 'savings', 8070368, 'inactive', '2020-10-23T10:38:50.025224', None)
('a62bba20-4721-455f-89dc-e08adc270d2e', '895205d1-03f4-442d-950d-06c7f834056f', '96311554488', 'savings', 4311185, 'inactive', '2020-06-24T05:00:39.221472', '2020-02-21T16:43:52.809050')

In [5]:
cursor.execute("PRAGMA table_info(device)")
for row in cursor.fetchall():
    print(row)

(0, 'device_id', 'VARCHAR', 1, None, 1)
(1, 'device_type', 'VARCHAR', 0, None, 0)
(2, 'os', 'VARCHAR', 0, None, 0)
(3, 'is_verified', 'BOOLEAN', 0, None, 0)
(4, 'first_seen', 'VARCHAR', 0, None, 0)
(5, 'last_seen', 'VARCHAR', 0, None, 0)
(6, 'app_version', 'VARCHAR', 0, None, 0)

In [6]:
cursor.execute("SELECT * FROM device")
for row in cursor.fetchall():
    print(row)

In [7]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()
for table in tables:
    print(table[0])

customer
device
authentication
customer_device
customer_identity
account
authentication_log
customer_risk
device_risk
transaction_log
auth_transaction
transaction_risk

In [15]:
cursor.execute("SELECT * FROM customer_device")
for row in cursor.fetchall():
    print(row)

In [9]:
cursor.execute("PRAGMA table_info(transaction_log)")
for row in cursor.fetchall():
    print(row)

(0, 'transaction_id', 'VARCHAR', 1, None, 1)
(1, 'account_id', 'VARCHAR', 0, None, 0)
(2, 'device_id', 'VARCHAR', 0, None, 0)
(3, 'amount', 'BIGINT', 0, None, 0)
(4, 'transaction_type', 'VARCHAR', 0, None, 0)
(5, 'transaction_time', 'VARCHAR', 0, None, 0)
(6, 'description', 'VARCHAR', 0, None, 0)
(7, 'status', 'VARCHAR', 0, None, 0)

In [14]:
account_id = '0eac7a47-1e72-46ef-a8b0-76584f9a28e0'

cursor.execute(f'''
    SELECT * FROM transaction_log
    WHERE account_id = '{account_id}'
    
''', 
)     

cursor.execute("SELECT * FROM transaction_log")
for row in cursor.fetchall():
    print(row)

for row in cursor.fetchall():
    print(row)